{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarjeta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarjeta.id }}</td>
            </tr>
            <tr>
                <th>Amarillas</th>
                <td>{{ tarjeta.amarillas }}</td>
            </tr>
            <tr>
                <th>Rojas</th>
                <td>{{ tarjeta.rojas }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarjetas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarjetas_edit', { 'id': tarjeta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
