{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron"><h1>Golesxpartidos list</h1>

            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Numero</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for golesXPartido in golesXPartidos %}
                    <tr>
                        <td>
                            <a href="{{ path('golesxpartido_show', { 'id': golesXPartido.id }) }}">{{ golesXPartido.id }}</a>
                        </td>
                        <td>{{ golesXPartido.numero }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('golesxpartido_show', { 'id': golesXPartido.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('golesxpartido_edit', { 'id': golesXPartido.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('golesxpartido_new') }}">Create a new golesXPartido</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
