{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estadio in estadios %}
            <tr>
                <td><a href="{{ path('estadio_show', { 'id': estadio.id }) }}">{{ estadio.id }}</a></td>
                <td>{{ estadio.nombre }}</td>
                <td>{{ estadio.direccion }}</td>
                <td>{% if estadio.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estadio_show', { 'id': estadio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estadio_edit', { 'id': estadio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadio_new') }}">Create a new estadio</a>
        </li>
    </ul>
{% endblock %}
