{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron"><h1>Estadio</h1>

            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ estadio.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ estadio.nombre }}</td>
                </tr>
                <tr>
                    <th>Direccion</th>
                    <td>{{ estadio.direccion }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{% if estadio.estado %}Yes{% else %}No{% endif %}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('estadio_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('estadio_edit', { 'id': estadio.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
