{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-default">
                <ul class="nav nav-pills navbar-left">
                    <li><a href="#">Mundial de futbol</a></li>
                </ul>
                <ul class="nav nav-pills navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div>
            <div class="jumbotron">
                <div class="text-center">
                    <h1>Mundial de futbol</h1>
                    <p>...</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Ver más</a></p>
                </div>
            </div>
            <div>
                <h3>Equipo</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipo in equipos %}
                        <tr>
                            <td>{{ equipo.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Jugador</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Numero</th>
                        <th>Equipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for jugador in jugadors %}
                        <tr>
                            <td>{{ jugador.nombre }}</td>
                            <td>{{ jugador.numero }}</td>
                            <td>{{ jugador.equipo.nombre }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Partidos</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Equipo local</th>
                        <th>Equipo visitante</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for partido in partidos %}
                        <tr>
                            <td>{% if partido.fecha %}{{ partido.fecha|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if partido.hora %}{{ partido.hora|date('H:i:s') }}{% endif %}</td>
                            <td>ojo izquierdo</td>
                            <td>ojo derecho</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Goles</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Jugador</th>
                        <th>Partido</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gol in goles %}
                        <tr>
                            <td>{{ gol.numero }}</td>
                            <td>{{ gol.jugador.nombre }}</td>
                            <td>{{ gol.partido.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Tarjetas</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Amarillas</th>
                        <th>Rojas</th>
                        <th>Jugador</th>
                        <th>Partido</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tarjeta in tarjetas %}
                        <tr>
                            <td>{{ tarjeta.amarillas }}</td>
                            <td>{{ tarjeta.rojas }}</td>
                            <td>{{ tarjeta.jugador.nombre }}</td>
                            <td>{{ tarjeta.partido.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

